ion-content {
background-image: url(https://cdn.jsdelivr.net/gh/RusscoJ/ionic-gys61y@master/possib%20bg%203.jpg);
}
h2 {
font-size: 35px;
color: black;
text-align: center;
font-family:'Courier New', Courier, monospace;
}
p {
font-size: 20px;
color: black;
text-align: justify;
font-family:'Courier New', Courier, monospace;
margin-left: 45px;
margin-right: 45px
}

.russcoFace {
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
border: 1px solid rgb(1, 1, 250);
padding: 5px;
width: 250px;
}

.russcoName {
font-size: 25px;
color: rgb(255, 255, 255);
text-align: center;
font-family:'Courier New', Courier, monospace;
margin-left: 45px;
margin-right: 45px
}

.russcoDesc {
font-size: 25px;
color: rgb(255, 255, 255);
text-align: center;
font-family:'Courier New', Courier, monospace;
margin-left: 45px;
margin-right: 45px
}
