ion-content {
background-image: url(https://cdn.jsdelivr.net/gh/RusscoJ/ionic-gys61y@master/Possible%20Background%201.jpg);
}

h2{
font-size: 35px;
color: whitesmoke;
text-align: center;
font-family:'Courier New', Courier, monospace;
}

p {
font-size: 20px;
color: whitesmoke;
text-align: justify;
font-family:'Courier New', Courier, monospace;
margin-left: 45px;
margin-right: 45px
}