ion-content {
background-image: url(https://cdn.jsdelivr.net/gh/RusscoJ/ionic-gys61y@master/possib%20bg%203.jpg);
}

h2{
font-size: 35px;
color:blue;
text-align: center;
font-family:'Courier New', Courier, monospace;
}

p {
font-size: 20px;
color:black;
text-align: justify;
font-family:'Courier New', Courier, monospace;
margin-left: 45px;
margin-right: 45px
}